!! URxvt Appearance
! Font
URxvt*font:   xft:inconsolata:size=10:antialias=true
! Spacing
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlint: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
! Remove Scroll-bar
URxvt.scrollBar: false
URxvt.scrollBar_right: false
! Urget Hit - Bell Character
URxvt.urgentOnBell: true
! Transparent Background
urxvt*depth: 32
urxvt.background: [70]#141c21

!! Enable Copy-Paste
! Disable ISO-14755 support & Key-bindings
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

!! Navigation Keybindings
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Font size Keybindings
URxvt.keysym.C-Up: font-size:increase
URxvt.keysym.C-Down: font-size:decrease
URxvt.keysym.C-S-Up: font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal: font-size:reset
URxvt.keysym.C-slash: font-size:show

!! Enable Embedded Perl Interpreter
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,font-size
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-Escape: perl:keyboard:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next

!! Extensions
URxvt.urlLauncher: brave
URxvt.underlineURLs: true
URxvt.urlButton: 1

!! Solarised Colour-scheme for Xresources/Xdefaults


!! Color Scheme
*.color0: #665C54
*.color8: #928374
*.color1: #EA6962
*.color9: #EA6962
*.color2: #A9B665
*.color10: #A9B665
*.color3: #E78A4E
*.color11: #D8A657
*.color4: #7DAEA3
*.color12: #7DAEA3
*.color5: #D3869B
*.color13: #D3869B
*.color6: #89B482
*.color14: #89B482
*.color7: #D4BE98
*.color15: #D4BE98

! Color Definitions
*.foreground: #93a1a1
*.background: #141c21
*.cursorColor: #afbfbf

!! URLs
! https://linux.die.net/man/3/urxvtperl
! https://wiki.gentoo.org/wiki/Rxvt-unicode
! https://man.archlinux.org/man/urxvt.7
! https://man.archlinux.org/man/urxvt.1
! https://wiki.archlinux.org/title/rxvt-unicode
